
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Ruta correcta del archivo CSS compilado -->
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>


    <div class="hero">
        <h2>Smart and intelligent service in the palm of your hands!</h2>
        <p>Take total control. Razor FinTech app lets you manage your money faster and easier.</p>
        <img src="~/resources/images/imagen3.jpg" width="400" />
    </div>

    <section class="features">
        <div class="feature-item">
            <h3>Secure</h3>
            <p>We use industry-leading level of data encryption and secure measures.</p>
        </div>
        <div class="feature-item">
            <h3>Easy</h3>
            <p>A mobile number and smartphone are all you need to start.</p>
        </div>
        <div class="feature-item">
            <h3>Transparent</h3>
            <p>Enjoy no hidden fees, and no unfair markups.</p>
        </div>
        <div class="feature-item">
            <h3>Empowering</h3>
            <p>Personalize your experience and take control.</p>
        </div>
    </section>
</body>
</html>
