@model Tarius.Models.Usuarios

<div class="login-container">
    <div class="login-card">
        <!-- Logo -->
        <div class="login-logo">
            <img src="~/resources/images/Logo.jpg" alt="Logo" />
        </div>

        <!-- Título -->
        <h2>Registrarse</h2>


        <!-- Verificacion de campos  -->
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }

        <!-- Formulario de Login -->

        <form asp-action="SingIn" asp-controller="SingIn" method="post" class="login-form">

            <!-- Campo de Usuario -->
            <div class="input-group">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <input asp-for="Nombre" placeholder="Usuario" class="form-input" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>


            <!-- Campo de Correo -->
            <div class="input-group">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <input asp-for="Correo" placeholder="Correo Electronico" class="form-input" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <!-- Campo de Contraseña -->
            <div class="input-group">
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
                <input asp-for="Contraseña" type="password" placeholder="Contraseña" class="form-input" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>

            <!-- Botón de Login -->
            <button type="submit" class="btn-login">Registrarse</button>

        </form>
    </div>
</div>